<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--angularjs-->
    <script src="js/angular.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
</head>

<body ng-app='todo' ng-controller='todoCtrl'>
    <section class="d flex justify-content-center">
        <div class="text-center" style="margin-top:20px">
            <input type="text" ng-model="userinput" />
            <button class="btn btn-info" ng-click="add()">Add</button>
            <h1 ng-hide="isHide" ng-repeat="x in todo  track by $index">{{x}}<button class="btn btn-danger" ng-click="isHide=true">x</button></h1> 
            
        </div>
    </section>
    <script>
        angular.module('todo', [])
            .controller('todoCtrl', function ($scope) {
                $scope.btnCount=0;
                $scope.index=[];
                $scope.todo = [];
                $scope.userinput = "";
                console.log($scope.userinput);
                $scope.add = function(){
                   
                    $scope.todo.push($scope.userinput);
                    console.log($scope.todo);
                    
                }
            });
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>

</html>