
  <section style="margin-top:20px" class="d-flex justify-content-center">
    <div class="text-center">
        Roll.No:<input type="text" ng-model='rollNo'> 
      Name:<input type="text" ng-model='nameTo'> 
      Age:<input type="text" ng-model='age'> 
      Email: <input type="email" ng-model='email'> Id:
      Date:<input type="date" ng-model='date' >
    </div>

  </section>
  <section style="margin-top:20px" class="d-flex justify-content-center">
    <a href="#/" class="btn btn-info" ng-click='addNewStudent()'>ADD</a>
  </section>
