<section style="margin-top:20px" class="d-flex justify-content-center">
   
    <div class="text-center">
        Roll.No:<input type="text" ng-model='rollNo'> 
        Name: <input type="text" ng-model='nameToUpdate'>
         Age:<input type="text" ng-model='ageToUpdate'>
        Email: <input type="email" ng-model='emailToUpdate'> 
         Date:<input type="date" ng-model='dateToUpdate'>
    </div>

</section>
<section style="margin-top:20px" class="d-flex justify-content-center">
    <a href="#/" class="btn btn-info" ng-click="updateStudent()">UPDATE</a>
</section>