<div>
    <section>
    
        <h1>{{msg}}</h1>
       <h1>{{22/7|number:'2.0-0'}}</h1>
       <h1>{{customer|| 'Dharmesh'|uppercase}}</h1>
       <button (click)="wish='Good morning'">Wish</button>
        {{wish}}
       
    </section>
    <section>
        <!-- <st-student></st-student> -->
    </section>
    <section>
        <!-- <st-bluebox></st-bluebox> -->
    </section>

    <section>
        <!-- <st-twoway></st-twoway> -->
    </section>
    


    <section>
        <!-- <st-numberapi></st-numberapi> -->
    </section>

    <section>
        <!-- <st-questionbank></st-questionbank> -->
    </section>
    <section>
        <!-- <st-summarypipe></st-summarypipe> -->
    </section>

    <section>
        <!-- <st-studentApi></st-studentApi> -->
    </section>
    <section>
     <st-parentchild></st-parentchild>
    </section>
</div>
