
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        @for (int i = 0; i < 5; i++)
        {
            <h1>About page.......@i</h1>
        }
   
    </div>
</body>
</html>
