
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career</title>
</head>
<body>
    <div> 
        @{string msg="Career Page of Company "; }
        <h1>@msg @ViewBag.Company</h1>

        <h1>Date Time.......@DateTime.Now</h1>
    </div>
</body>
</html>
