<section>
    <h1>
        Contacts........
    </h1>
    <div>
        <table class="table">
            <tr><th>Name</th><th>Number</th><th>Action</th></tr>
            <tr *ngFor="let c of contacts">
                <td>{{c.name}}</td><td>{{c.num}}</td>
                <td>
                    <a class="badge" [routerLink]="['/login',{name:c.name}]"><span class="glyphicon glyphicon-pencil"></span>Edit</a>
                    <a class="btn btn-danger btn-xs" [routerLink]="['/delete',{name:c.name}]" ><span class="glyphicon glyphicon-trash"></span>Delete</a>
                </td>
                
            </tr>
        </table>
    </div>
</section>