@using mvcBankApp.Models.HomeModel
@model HomeVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MasterLayout.cshtml";
}

<h2>Home Index page....</h2>
<section>
   <h2> Welcome @Model.currentUSer</h2> 
   
</section>



