<section>

    <div class="form-group">
            <input [(ngModel)]="num" type="text" >
            <button (click)="getFacts(num)">GetFacts</button>
            <p [innerHtml]="data"></p>
    </div>
    <div class ="d-flex justify-content-center container" style="margin-top:20px">
            <table>
                <tr>
                    <th>Number</th>
                    <th>Info</th>
                </tr>
                <tr *ngFor=" let x of data">
                    <td>{{inputnum}}</td>
                    <td>{{x}}</td>
                </tr>
            </table>
        </div>
    
</section>